*{
    margin:0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 95%;
    height: 30vh;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
}

.barraGeneral{
    width: 90%;
    height: 65px;
    background: rgba(185, 167, 167, 0.808);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.logoPrincipal{
    height: 65px;
}

.items{
    font-size: 25px;
    width: 65%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items a{
     width: 300px;
     height: 70px;
     color:black;
     text-decoration: none;
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.items a:hover{
    background: rgb(224, 206, 185);
    color:white;
}

#parte1{
    display: block;
    height: auto;
    background-color: rgb(235,235,235);
    padding-top: 3px;
    padding-bottom: 3px;
}

#parte2{
    display: flex;
    height: 30vh;
    padding: 9px;
    margin-top: 8px;
    font-size: 15px;
}

#parte3{
display: block;    
height: auto;
padding: 8px;
margin-top:8px ;
}

#parte4{
display: block;
height: auto;
padding: 8px;
margin-top: 8px;
}

body{
    background:rgb(177, 178, 180);
    border: solid black 70px; 
}

@media screen and (max-width: 200px) {
    .section{
        display: grid;
        grid-template-columns: repeat(3,33.33%);
        gap: 2rem;
    }
    
}
